/*General config*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/*End general config*/

/*Paleta de colores*/
/*
 color:#27ae60
color:#192a56
color:#666
color:#eee
color:#fff
color:rgba(0,0,0,.8)
color:rgba(0,0,0,.2)
color:rgba(0,0,0,.1)
*/
/*End paleta de colores/*
/*Nav*/
.first-div{
    margin-left: 50px;
}
.tittle{
    color:var(--black);
    font-size: 20px;
}
.main-icon{
    color: var(--green);
    display: inline;
    font-size: 20px;
}
.button-nav__link{
    background-color: var(--green);
    border-radius: 6px;
    width: 55px;
    height: 23px;
    padding-bottom: 25px;
} 
.button-nav__link-color{
    color: #fff;
}
.boton-redondo{
    background-color:rgba(0,0,0,.1);
    color:var(--black);
    font-size: 12px;    
    border-radius: 50%;
    margin: auto;
    position:relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 5px 5px;
    padding: 7px;
    text-align: center;
}
.secundary-boton{
    position: relative;
    right: 100px;
}
.boton-redondo:hover{
    background: var(--green);
    color: #fff;
    transform: rotate(360deg);
}
.fondo{
    color: var(--light-color);
}
.fondo a{
    color: inherit;
}
.fondo:hover{
    background-color: var(--green);
    border-radius: 6px;
    width: 55px;
    height: 23px;
    padding-bottom: 25px;
    border-radius: 6px;
    color: #fff;
    text-align: center;
}
.fondo a:hover{
    color: inherit;
}

/*End Nav*/
    
 /*Home*/
/*End Home/*
    
 /*Dishes*/
/*End Dishes*/
    
/*About*/
/*End About*/
    
/*Menu*/
/*End Menu*/
    
/*Review*/
/*End Review*/
    
/*Order*/
/*End Order*/
    
/*Footer*/
/*End Footer*/